{% extends "layout.html" %}
{% block title %} Test {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}
<h1>Pick a county</h1>
<form action="" method="post" novalidate>
{{ form.form_name }}
<p>
{{ form.state.label }}<br>
{{ form.state }}
</p>
<p>
{{ form.county.label }}<br>
{{ form.county }}
</p>
<p>
    {{ form.submit }}
</p>
</form>

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script charset="utf-8" type="text/javascript">

    $(function() {
    
        // jQuery selection for the 2 select boxes
        var dropdown = {
            state: $('#select_state'),
            county: $('#select_county')
        };
    
        // call to update on load
        updateCounties();
    
        // function to call XHR and update county dropdown
        function updateCounties() {
            var send = {
                state: dropdown.state.val()
            };
            dropdown.county.attr('disabled', 'disabled');
            dropdown.county.empty();
            $.getJSON("{{ url_for('_get_counties') }}", send, function(data) {
                data.forEach(function(item) {
                    dropdown.county.append(
                        $('<option>', {
                            value: item[0],
                            text: item[1]
                        })
                    );
                });
                dropdown.county.removeAttr('disabled');
            });
        }
    
        // event listener to state dropdown change
        dropdown.state.on('change', function() {
            updateCounties();
        });
    
    });
    
    </script>
{% endblock %}
{% endblock %}